@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --yellow:#faa30c;
    --purple:#fa0cce;
    --lightgray: #f3f3f3;
    --darkgray: #313131;
    --radius: 25px;
    --radius2: 10px;
    font-family: 'Quicksand', sans-serif;
}

* {
    /* border: red solid 1px; */
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
    font-size: 3rem;
}

h2, h3{
    font-size: 1rem;
}

.container{
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-areas: 
    "menu main";
    height: 100vh;
}

ul{
    padding: 0;
}

.menu{
    background-color: var(--darkgray);
    color: white;
    font-weight: 900;
    padding: 30px;
    grid-area: menu;
    position: relative;
}

.burger {
    display: none;
}

.links{
    text-decoration: none;
    color: white;
}

.links:hover{
    color: var(--yellow)
}

.icon{
    display: flex;
    justify-content: center;
}

.icon span{
    font-size: 8rem;
    line-height: 40%;
}

.icon span:first-child{
    position: absolute;
    color: var(--purple);
    animation-name: logo-right;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.icon span:last-child{
    position: absolute;
    color: var(--yellow);
    opacity: 50%;
    animation-name: logo-left;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes logo-right {
    0% {left: 42%;     opacity: 0%;}
    50% {left: 38%; opacity: 30%}
    100% {left: 42%; opacity: 0%}
}

@keyframes logo-left {
    0% {right: 42%; opacity: 0%}
    50% {right: 38%; opacity: 30%}
    100% {right: 42%; opacity: 0%}
}

.navbar{
    margin: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

.menu li {
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
}
 
.social{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icon img:hover{
    transform: scaleX(1.1) scaleY(1.1);
    transition: 0.1s ease-in;
}

.footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    left: 50%;  
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

/* ---- MAIN ---- */

.main{
    background-color: var(--lightgray);
    color: var(--darkgray);
    grid-area: main;
    padding: 30px;
    overflow-y: scroll;
}

.intro{
    height: 100svh;
    height:100vh;
    position: relative;
}

.title{
    font-size: 4rem;
    grid-area: title;
}

.intro-cards{
    display: grid;
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas: "title" "skills" "languages";
    margin-top: 30px;
}

.skills, .languages {
	display: flex;
	font-size: 1rem;
	align-items: start;
	gap: 20px;
}

.skills {
	grid-area: skills;
}

.languages{
    grid-area: languages;
}

.skills-card{
    background-color: white;
    border-radius: var(--radius2);
    padding: 20px 30px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 0.1);
    border-top: 15px solid var(--darkgray);
    margin-bottom: 20px;
}

.skills-card:hover{
    transition: 0.2s ease-in;
    border-top: 15px solid var(--yellow);
    animation: 0.25s infinite alternate float;
}

@keyframes float{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-10px);}
}

/* ---- PORTFOLIO ---- */

.portfolio{
    padding-top: 20px;
}

.title2{
    font-size: 4rem;
    grid-area: title2;
}

.portfolio-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 200px);
    grid-auto-rows: 200px;
    grid-area: cards;
    gap: 30px;
    margin: 30px 0;
    height: 100vh;
}

.card{
    position: relative;
    border-top: 15px solid var(--darkgray);
    border-radius: var(--radius2);
}

.card:hover{
    border-top: 15px solid var(--yellow);
    transition: ease-in-out 0.2s;
}

/* ---- CARD OVERLAY EFFECT ---- */

.image__img {
    width:100%;
    height:100%;
    display: block;
    object-fit: cover;
    border-radius: 0 0 var(--radius2) var(--radius2);
    box-shadow: 3px 3px 3px rgb(0 0 0 / 0.1);
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
    backdrop-filter: blur(1px);
}

.image__overlay > * {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover > * {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: bold;
    width: 12ch;
    text-align: center;
}

/* CONTACT */

.contact{
    height: 94vh;
}

.title3{
    grid-area: title3;
}

label{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.rem;
}

.form{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 20%;
    margin-right: calc(3em + 20px);
}

.form-textarea {
    display: flex;
    justify-content: start;
    flex-flow: column wrap;
    width: calc(40% + 20px);
}

input{
    border-radius: var(--radius);
    border: 1px solid var(--darkgray);
    padding: 15px;
    appearance: none;
}

input[type=button]{
    margin-top: 30px;
    width: 50%;
}

/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 1024px) { 

.container{
    grid-template-rows: 80px 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu" "main";
    transition: 0.5s;
}

.menu{
    padding: 20px;
}

.navbar, .social, .footer {
    display: none;
}

.navbar{
    margin-top: 20px;
}

.icon{
    justify-content: start;
}

.icon span{
    font-size: 4rem;
}

.icon span:first-child, 
.icon span:last-child{
    display: none;
}

.burger {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
    
/* ---- PORTFOLIO / CONTACT  ---- */

.portfolio-cards, .contact{
    height: auto;
}

.form{
    gap: 0;
}

.form-row {
    margin-right: 0;
}

.form-textarea, .form-row{
    width: 100%;
}

input[type=button]{
    width: auto;
    padding: 15px;
}
}

@media screen and (max-width: 800px) { 
 
/* ---- MAIN ----*/
   
.intro{
    height: auto;
}

.title, .title2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

.intro-cards{
    gap: 0;
}

.skills-card{
    padding: 15px;
}

.skills, .languages {
    flex-direction: column;
	gap: 10px;
    align-items: stretch;
    text-align: center;
}
}





